/*Estilos Gerais*/

html,
body,
figure,
img,
div,
p,
h1,
h2,
h3,
ul,
li,
a,
header,
main,
footer {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    list-style: none;
    text-decoration: none;
}

header {
    background-color: grey;
    padding-top: 40px;
}

.container {
    background-color: white;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 30px;
}

.foto {
    max-width: 250px;
    border-radius: 100%;
}

figcaption {
    display: none;
}

.linha {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.coluna-esquerda {
    flex-basis: 50%;
}

.coluna-direita {
    flex-basis: 50%;
}

.apresentacao {
    flex-basis: 50%;
}

h1 {
    font-size: 45px;
    color: #423e3e;
    padding: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.subtitulo {
    font-size: 30px;
    color: #9e9e9e;
    padding: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.contato {
    max-width: 20px;
}

.rede {
    max-width: 150px;
    padding: 10px;
}

.redegit {
    width: 95px;
    padding: 10px;
}

.bloco {
    padding: 20px;
}

h2 {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(92, 89, 89);
    padding: 10px;
}

li {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(92, 89, 89);
    padding: 5px;
}

h3 {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(92, 89, 89);
    padding: 10px;
}

p {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(92, 89, 89);
    padding: 5px;
    text-align-last: left;
}


/*.coluna-direita {
        background-color: rgb(218, 214, 214);
    }
    
    .bloco li {
        font-size: 12px;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        padding: 5px;
        text-align-last: left;
    }
    
    .direita {
        color: white;
    }*/

.coluna-direita {
    background-color: rgb(218, 214, 214);
}

footer {
    background-color: grey;
}

.bloco a {
    color: rgb(92, 89, 89);
}

.clic {
    padding: 20px;
    left: auto;
}

.end {
    max-width: 30px;
}

footer nav ul {
    display: flex;
    justify-content: center;
    padding: 30px;
}